body {
    font-family: Bahnschrift Condensed, Arial Black, Century, Comic Sans MS;
    font-size: 20px;
    line-height: 15px;
    color: forestgreen;
}

.title {
    font-family: Monotype Corsiva;
    text-indent: 10px;
}
